*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

header{
    background-color:black;
    height: 150px;
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding-left: 2.5rem;
    padding-right: 2.5rem;
    box-shadow: 0px 1px 3px 2px rgba(0,0,0,0.43);

}




ul
{
    display: flex;
    list-style: none;
}



header ul li a
{
    text-decoration: none;
    color:white;
    font-size: 24px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-left:2rem;
}
main{
    max-width: 1200px;
    display: flex;
    flex-direction:column;
    justify-content: space-around;
    align-items: center;
    padding-top:2rem;
}

main h1{
    
    text-align: center;
    font-size: 40px;
    font-family: fantasy;
    
}
main h2{    
    font-size: 24px;
    text-align: center;
    font-family: fantasy;
}

footer{
    margin-top: 2rem;
    height: 120px;
    background-color: black;
    color: white;
    display: flex;
    flex-direction:column;
    justify-content:center;
    align-items: center;
    padding-top: 1rem;
   
}
